{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" >


    <a href="{% url 'home'%}" class="brand-logo white-text"><i class="far fa-images fa-2x" style="color: white;"></i><span style="font-size: 25px; margin-left: 10px; color: white;">GALLERY</span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">

        </li>
        <li class="nav-item">

        </li>

  
      </ul>
      <form class="navbar-form navbar-right" role="search" action="{% url 'searchbycategory' %}">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search People or Places ">
          <button type="submit" class="btn btn-outline-default">Go</button>
        </div>
        
      </form>

    </div>
    </nav>
</body>
</html>